<div class="header-doc">
  <h2>DAFTAR ISI</h2>
</div>
<table class="no-border" style="width:100%; border:none;">
  <tbody>
    <tr><td>1.</td><td>Halaman Judul</td><td class="text-right">……</td></tr>
    <tr><td>2.</td><td>Kata Pengantar</td><td class="text-right">……</td></tr>
    <tr><td>3.</td><td>Daftar Isi</td><td class="text-right">……</td></tr>
    <tr><td>4.</td><td>Indeks Catatan atas Laporan Keuangan</td><td class="text-right">……</td></tr>
    <tr><td>5.</td><td>Pernyataan Tanggung Jawab</td><td class="text-right">……</td></tr>
    <tr><td>6.</td><td>Ringkasan</td><td class="text-right">……</td></tr>
    <tr><td>7.</td><td>Laporan Realisasi Anggaran (LRA)</td><td class="text-right">……</td></tr>
    <tr><td>8.</td><td>Neraca</td><td class="text-right">……</td></tr>
    <tr><td>9.</td><td>Laporan Operasional (LO)</td><td class="text-right">……</td></tr>
    <tr><td>10.</td><td>Laporan Perubahan Ekuitas (LPE)</td><td class="text-right">……</td></tr>
    <tr><td>11.</td><td>Laporan Arus Kas (LAK)</td><td class="text-right">……</td></tr>
    <tr><td>12.</td><td>Catatan atas Laporan Keuangan (CALK)</td><td class="text-right">……</td></tr>
    <tr><td>13.</td><td>Daftar Lampiran</td><td class="text-right">……</td></tr>
  </tbody>
</table>
