<div class="header-doc">
  <h2>KATA PENGANTAR</h2>
</div>
<p style="text-align:justify;">
  Yang bertanda tangan di bawah ini, {{JABATAN_KEPALA_OPD}} {{NAMA_OPD}},
  dengan ini menyampaikan Laporan Keuangan Tahun Anggaran {{TAHUN}} yang disusun sesuai
  Standar Akuntansi Pemerintahan dan peraturan perundang-undangan yang berlaku.
</p>
<p style="text-align:justify;">
  Laporan ini memuat Laporan Realisasi Anggaran, Neraca, Laporan Operasional,
  Laporan Perubahan Ekuitas, Laporan Arus Kas, serta Catatan atas Laporan Keuangan
  sebagai penjelasan atas pos-pos laporan.
</p>
<p>{{KOTA}}, {{BULAN_TAHUN}}</p>
<p class="bold">{{JABATAN_KEPALA_OPD}}</p>
<br/><br/>
<p class="bold">{{KEPALA_OPD}}</p>
<p>NIP. {{NIP_KEPALA_OPD}}</p>
