<div class="header-doc">
  <h2>PERNYATAAN TANGGUNG JAWAB</h2>
  <p>ATAS LAPORAN KEUANGAN</p>
</div>
<p style="text-align:justify;">
  Kami yang bertanda tangan di bawah ini bertanggung jawab penuh atas kebenaran, kelengkapan,
  dan keakuratan Laporan Keuangan {{NAMA_OPD}} Tahun Anggaran {{TAHUN}}.
</p>
<p style="text-align:justify;">
  Laporan Keuangan telah disusun sesuai dengan Standar Akuntansi Pemerintahan berdasarkan
  Peraturan Pemerintah Nomor 71 Tahun 2010 dan peraturan pelaksanaannya.
</p>
<table class="no-border" style="margin-top:48px; width:100%;">
  <tr>
    <td style="width:50%; vertical-align:top;">
      <p>Mengetahui / Menyetujui,</p>
      <p class="bold">{{JABATAN_KEPALA_OPD}}</p>
      <br/><br/><br/>
      <p class="bold">{{KEPALA_OPD}}</p>
      <p>NIP. {{NIP_KEPALA_OPD}}</p>
    </td>
    <td style="width:50%; vertical-align:top;">
      <p>{{KOTA}}, {{BULAN_TAHUN}}</p>
      <p>Bendahara Pengeluaran,</p>
      <br/><br/><br/>
      <p class="bold">( _________________________ )</p>
      <p>NIP. ____________________</p>
    </td>
  </tr>
</table>
<p style="margin-top:24px; font-size:9pt;">(Tanda tangan dan stempel OPD ditempatkan pada dokumen cetak resmi)</p>
